In [1]:
import pandas as p
import numpy as n

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=p.read_csv('A.csv')
df.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,Class,Ph,Turbidity
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1,9.445130,3.875165
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1,9.024845,3.985251
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0,NaN,2.747313
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1,6.800119,3.854940
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1,7.174135,3.939896

In [3]:
df.tail()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,Class,Ph,Turbidity
7991,0.05,7.78,0.00,1.95,0.04,0.10,0.03,0.03,1.37,0.0,...,1.0,0.005,3.57,2.13,0.09,0.06,0.03,1,7.368769,3.045612
7992,0.05,24.22,0.02,0.59,0.01,0.45,0.02,0.02,1.48,0.0,...,1.0,0.001,1.48,1.11,0.09,0.10,0.08,1,9.352720,3.045612
7993,0.09,6.85,0.00,0.61,0.03,0.05,0.05,0.02,0.91,0.0,...,1.0,0.000,1.35,4.84,0.00,0.04,0.05,1,9.393148,3.045612
7994,0.01,10.00,0.01,2.00,0.00,2.00,0.00,0.09,0.00,0.0,...,0.0,0.000,0.00,0.00,0.00,0.00,0.00,1,7.296573,3.045612
7995,0.04,6.85,0.01,0.70,0.03,0.05,0.01,0.03,1.00,0.0,...,1.0,0.000,1.35,4.84,0.00,0.04,0.05,1,8.900865,3.045612

In [4]:
df.shape

(7996, 23)

In [5]:
df.size

183908

In [6]:
df.columns

Index(['aluminium', 'ammonia', 'arsenic', 'barium', 'cadmium', 'chloramine',
       'chromium', 'copper', 'flouride', 'bacteria', 'viruses', 'lead',
       'nitrates', 'nitrites', 'mercury', 'perchlorate', 'radium', 'selenium',
       'silver', 'uranium', 'Class', 'Ph', 'Turbidity'],
      dtype='object')

In [7]:
df.isnull()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,Class,Ph,Turbidity
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7991,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7992,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7993,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7994,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df['Class'].unique()

array([1, 0], dtype=int64)

In [9]:
df = df.dropna()

In [10]:
df.describe()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,Class,Ph,Turbidity
count,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,...,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000
mean,0.673828,14.114493,0.158129,1.555991,0.042566,2.157807,0.246145,0.811029,0.772640,0.320214,...,1.341134,0.005164,16.273818,2.904048,0.049565,0.146590,0.044466,0.126772,6.721246,3.967283
std,1.271398,8.882269,0.249528,1.214495,0.035924,2.560834,0.270455,0.652406,0.434451,0.329359,...,0.567315,0.002969,17.571201,2.314000,0.028679,0.143259,0.026919,0.332741,1.546786,0.779482
min,0.000000,-0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.227499,1.450000
25%,0.040000,6.402500,0.030000,0.550000,0.008000,0.090000,0.050000,0.100000,0.410000,0.000000,...,1.030000,0.003000,2.170000,0.810000,0.030000,0.040000,0.020000,0.000000,5.130272,3.434538
50%,0.070000,13.915000,0.050000,1.170000,0.040000,0.510000,0.090000,0.755000,0.770000,0.220000,...,1.430000,0.005000,7.660000,2.400000,0.050000,0.080000,0.050000,0.000000,6.748812,3.958543
75%,0.290000,22.000000,0.100000,2.450000,0.070000,4.170000,0.430000,1.390000,1.160000,0.610000,...,1.760000,0.008000,29.057500,4.630000,0.070000,0.240000,0.070000,0.000000,7.793632,4.506540
max,5.050000,29.840000,1.050000,4.940000,0.130000,8.680000,0.900000,2.000000,1.500000,1.000000,...,2.930000,0.010000,60.010000,7.990000,0.100000,0.500000,0.090000,1.000000,13.175402,6.494749

In [11]:
df.corr()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,Class,Ph,Turbidity
aluminium,1.000000,0.059514,0.219692,0.299821,-0.111990,0.379652,0.358942,0.163319,-0.012606,-0.082088,...,0.230725,-0.004060,0.363818,0.245524,-0.006503,0.339549,0.010351,0.350733,0.133546,0.003756
ammonia,0.059514,1.000000,0.049160,0.066166,-0.007858,0.105340,0.122488,0.012953,-0.026600,0.063713,...,-0.073147,0.017036,0.086215,0.049277,0.022464,0.074147,0.019519,-0.017306,0.081134,0.021771
arsenic,0.219692,0.049160,1.000000,0.364122,0.333000,0.351514,0.313947,-0.047099,0.002047,0.029252,...,0.294835,-0.012483,0.330207,0.215746,-0.006447,0.300276,-0.001437,-0.127519,0.088182,0.010788
barium,0.299821,0.066166,0.364122,1.000000,-0.044655,0.447500,0.415985,0.053276,-0.014961,0.094978,...,0.303016,0.004996,0.460937,0.288531,0.035902,0.428924,-0.004468,0.100367,0.128289,0.012131
cadmium,-0.111990,-0.007858,0.333000,-0.044655,1.000000,-0.152996,-0.159319,-0.112065,0.003370,-0.090767,...,-0.014183,-0.012967,-0.155100,-0.104161,0.007285,-0.164460,-0.007001,-0.270317,-0.061616,-0.011254
chloramine,0.379652,0.105340,0.351514,0.447500,-0.152996,1.000000,0.557324,0.113979,0.006619,0.147027,...,0.363620,-0.024478,0.585618,0.386096,0.012376,0.524781,-0.009342,0.201703,0.164722,0.019082
chromium,0.358942,0.122488,0.313947,0.415985,-0.159319,0.557324,1.000000,0.101984,-0.003462,0.134331,...,0.322385,-0.022870,0.527228,0.313217,0.028693,0.510320,-0.007198,0.195371,0.164789,-0.001973
copper,0.163319,0.012953,-0.047099,0.053276,-0.112065,0.113979,0.101984,1.000000,0.011218,0.142438,...,0.164671,0.024132,0.093941,0.019266,0.002295,0.085138,0.005534,0.028410,-0.068775,0.001447
flouride,-0.012606,-0.026600,0.002047,-0.014961,0.003370,0.006619,-0.003462,0.011218,1.000000,0.019503,...,-0.019400,-0.003852,-0.017416,0.008870,0.024409,0.015644,0.017355,0.006100,0.009313,-0.019808
bacteria,-0.082088,0.063713,0.029252,0.094978,-0.090767,0.147027,0.134331,0.142438,0.019503,1.000000,...,0.240611,-0.002945,0.136250,0.089668,-0.005687,0.137909,0.047214,-0.024033,-0.060711,-0.000089
viruses,-0.070143,0.107871,0.014363,0.005649,0.018840,0.010879,0.010459,0.006959,0.023307,0.634672,...,-0.079499,0.016070,0.008635,-0.017002,-0.035536,0.015274,0.057422,-0.097454,0.011721,0.005671
lead,0.022432,-0.031013,-0.094347,-0.038030,-0.038707,-0.032067,-0.050207,0.117241,0.007381,-0.024020,...,-0.047183,-0.006880,-0.029681,-0.052816,0.029744,-0.054057,-0.011765,-0.009174,0.008246,-0.008062
nitrates,-0.007763,0.003564,0.030810,-0.009786,0.025169,0.000076,-0.018145,0.008601,-0.008129,-0.028733,...,0.018638,-0.019888,-0.015679,-0.023548,0.037885,0.006095,0.003764,-0.074347,-0.005195,0.008474
nitrites,0.230725,-0.073147,0.294835,0.303016,-0.014183,0.363620,0.322385,0.164671,-0.019400,0.240611,...,1.000000,-0.018395,0.330129,0.255516,0.012758,0.316713,-0.013727,0.042838,-0.119618,-0.000059
mercury,-0.004060,0.017036,-0.012483,0.004996,-0.012967,-0.024478,-0.022870,0.024132,-0.003852,-0.002945,...,-0.018395,1.000000,0.009074,0.037114,0.027958,0.005358,0.032702,-0.035406,-0.002645,-0.012105
perchlorate,0.363818,0.086215,0.330207,0.460937,-0.155100,0.585618,0.527228,0.093941,-0.017416,0.136250,...,0.330129,0.009074,1.000000,0.370942,0.016070,0.500179,-0.006126,0.085115,0.157439,0.014779
radium,0.245524,0.049277,0.215746,0.288531,-0.104161,0.386096,0.313217,0.019266,0.008870,0.089668,...,0.255516,0.037114,0.370942,1.000000,0.021365,0.356638,0.019626,0.071658,0.124596,0.013625
selenium,-0.006503,0.022464,-0.006447,0.035902,0.007285,0.012376,0.028693,0.002295,0.024409,-0.005687,...,0.012758,0.027958,0.016070,0.021365,1.000000,-0.018403,-0.019524,-0.031369,0.011042,0.005163
silver,0.339549,0.074147,0.300276,0.428924,-0.164460,0.524781,0.510320,0.085138,0.015644,0.137909,...,0.316713,0.005358,0.500179,0.356638,-0.018403,1.000000,0.000712,0.112664,0.135932,-0.003011
uranium,0.010351,0.019519,-0.001437,-0.004468,-0.007001,-0.009342,-0.007198,0.005534,0.017355,0.047214,...,-0.013727,0.032702,-0.006126,0.019626,-0.019524,0.000712,1.000000,-0.077344,-0.001986,0.008810
Class,0.350733,-0.017306,-0.127519,0.100367,-0.270317,0.201703,0.195371,0.028410,0.006100,-0.024033,...,0.042838,-0.035406,0.085115,0.071658,-0.031369,0.112664,-0.077344,1.000000,0.129410,-0.005555
Ph,0.133546,0.081134,0.088182,0.128289,-0.061616,0.164722,0.164789,-0.068775,0.009313,-0.060711,...,-0.119618,-0.002645,0.157439,0.124596,0.011042,0.135932,-0.001986,0.129410,1.000000,0.016292
Turbidity,0.003756,0.021771,0.010788,0.012131,-0.011254,0.019082,-0.001973,0.001447,-0.019808,-0.000089,...,-0.000059,-0.012105,0.014779,0.013625,0.005163,-0.003011,0.008810,-0.005555,0.016292,1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7194 entries, 0 to 7995
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7194 non-null   float64
 1   ammonia      7194 non-null   float64
 2   arsenic      7194 non-null   float64
 3   barium       7194 non-null   float64
 4   cadmium      7194 non-null   float64
 5   chloramine   7194 non-null   float64
 6   chromium     7194 non-null   float64
 7   copper       7194 non-null   float64
 8   flouride     7194 non-null   float64
 9   bacteria     7194 non-null   float64
 10  viruses      7194 non-null   float64
 11  lead         7194 non-null   float64
 12  nitrates     7194 non-null   float64
 13  nitrites     7194 non-null   float64
 14  mercury      7194 non-null   float64
 15  perchlorate  7194 non-null   float64
 16  radium       7194 non-null   float64
 17  selenium     7194 non-null   float64
 18  silver       7194 non-null   float64
 19  uranium      7194 non-null   float64
 20  Class        7194 non-null   int64
 21  Ph           7194 non-null   float64
 22  Turbidity    7194 non-null   float64
dtypes: float64(22), int64(1)
memory usage: 1.3 MB

In [13]:
p.crosstab(df["aluminium"], df["ammonia"])

ammonia,-0.08,-0.07,-0.03,-0.01,0.00,0.01,0.02,0.03,0.04,0.05,...,29.66,29.67,29.68,29.70,29.71,29.72,29.74,29.80,29.82,29.84
aluminium,,,,,,,,,,,,,,,,,,,,,
0.00,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
0.01,1,0,0,0,4,0,2,0,0,2,...,0,0,0,0,0,0,0,0,0,0
0.02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0.03,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
0.04,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4.98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df.groupby(["barium","arsenic"]).groups

{(0.0, 0.03): [6565], (0.0, 0.04): [4778, 5103, 5559], (0.0, 0.05): [5138], (0.0, 0.07): [4441, 4578], (0.0, 0.09): [5443, 5752, 7630], (0.0, 0.1): [6964], (0.01, 0.0): [6116, 7212, 7548], (0.01, 0.02): [2264, 4348, 4450, 6207, 7486], (0.01, 0.03): [4281, 5974, 6188, 7837], (0.01, 0.04): [7106], (0.01, 0.05): [4155, 5427, 6991, 7059, 7591, 7828], (0.01, 0.06): [5157, 6248, 7148, 7373], (0.01, 0.07): [5297], (0.01, 0.08): [4007, 5012, 5310, 7100, 7258], (0.01, 0.09): [7349, 7775], (0.01, 0.1): [5406, 6840], (0.02, 0.0): [5001], (0.02, 0.001): [475, 2475], (0.02, 0.01): [4402, 5247], (0.02, 0.02): [7917], (0.02, 0.03): [6331, 7036, 7235], (0.02, 0.04): [414, 2414, 4120, 6510, 6517], (0.02, 0.05): [4316, 4413], (0.02, 0.06): [5023, 6592, 6827, 7063], (0.02, 0.07): [6108], (0.02, 0.08): [4222, 6614, 6660, 6920, 7146, 7840], (0.02, 0.09): [7271, 7922], (0.02, 0.1): [6695], (0.02, 0.19): [3264], (0.03, 0.0): [5391, 5401, 6932, 6987], (0.03, 0.01): [4967, 6886, 7044, 7507], (0.03, 0.02): [4957, 7157, 7320, 7495, 7838], (0.03, 0.03): [4468, 6010, 6862], (0.03, 0.04): [2802, 6608, 7127, 7464], (0.03, 0.05): [4147, 4988, 5438, 5998, 6667], (0.03, 0.06): [6775, 6819, 7871], (0.03, 0.07): [4386, 5123, 6416], (0.03, 0.08): [4648, 5331, 5503, 6658, 7094], (0.03, 0.09): [4736, 6610], (0.03, 0.1): [4156], (0.04, 0.0): [4170], (0.04, 0.001): [20, 2020], (0.04, 0.01): [5458, 6222, 6678, 7109, 7213, 7295, 7524], (0.04, 0.02): [4341, 4449, 4711], (0.04, 0.03): [721, 2721, 4255, 4304, 5799, 6841, 7851], (0.04, 0.04): [566, 816, 2566, 2816, 5227], (0.04, 0.05): [4121, 6561, 7082, 7905], (0.04, 0.06): [4034, 4935, 5344, 6958], (0.04, 0.07): [6006, 7737], (0.04, 0.08): [5768], (0.04, 0.09): [5373, 6329], (0.04, 0.1): [6378, 6390], (0.05, 0.0): [4971, 5262, 7259], (0.05, 0.01): [4521], (0.05, 0.02): [6559], (0.05, 0.04): [4266, 4435, 7513, 7929], (0.05, 0.05): [4767], (0.05, 0.06): [4377, 6601, 7944], (0.05, 0.07): [4221, 4317, 5841, 7584], (0.05, 0.08): [5311, 5541, 6853, 7637, 7724], (0.05, 0.09): [5195, 5646, 5863], (0.05, 0.1): [6230], (0.06, 0.0): [4017, 4946], (0.06, 0.01): [899, 2899, 4319, 5402, 5583], (0.06, 0.02): [16, 45, 2016, 2045, 4153, 6120, 6543], (0.06, 0.03): [4938, 5499, 5531, 5727, 6042], (0.06, 0.04): [4158, 4511, 5380, 5695, 6044, 6060, 6294, 7515], (0.06, 0.05): [4132, 6122, 7147], (0.06, 0.06): [6566], (0.06, 0.07): [4816, 5657, 7783], (0.06, 0.08): [4134, 4854, 6530, 7249], (0.06, 0.09): [5171], (0.06, 0.1): [5441, 7759], (0.07, 0.01): [4159, 6689, 7488, 7658], (0.07, 0.02): [79, 2079, 5689, 6001, 6544, 6838, 6967], (0.07, 0.03): [5550, 7237], (0.07, 0.04): [260, 2260, 4211, 6386], (0.07, 0.05): [5875, 7528], (0.07, 0.07): [6401, 7870], (0.07, 0.08): [4011, 5016], (0.07, 0.09): [5092, 5308, 6026, 6941], (0.07, 0.1): [4878, 5150, 6051, 6675], (0.08, 0.0): [7650], (0.08, 0.01): [5788, 6400, 6704], (0.08, 0.02): [4804, 5369, 7423], (0.08, 0.03): [4277, 6790], (0.08, 0.04): [4934, 7232], (0.08, 0.05): [4241, 4270, 5901, 6159, 7572], (0.08, 0.06): [6284], (0.08, 0.07): [5843], (0.08, 0.08): [4802, 5276, 7476, 7699], (0.08, 0.09): [5134], (0.08, 0.1): [6007], (0.09, 0.0): [6581], (0.09, 0.001): [818, 2818], (0.09, 0.01): [5192, 5513, 6323], (0.09, 0.02): [6728, 6769, 7648], (0.09, 0.03): [5034, 5326, 5838, 5968, 6642, 7140], (0.09, 0.04): [4404, 5451, 6726, 6801, 7268], (0.09, 0.05): [5539, 6148], ...}

In [15]:
df["Class"].value_counts()

0    6282
1     912
Name: Class, dtype: int64

In [16]:
p.Categorical(df["chloramine"]).describe()

            counts     freqs
categories
0.0             90  0.012510
0.01           196  0.027245
0.02           198  0.027523
0.03           193  0.026828
0.04           198  0.027523
...            ...       ...
8.5              1  0.000139
8.52             1  0.000139
8.54             1  0.000139
8.66             1  0.000139
8.68             1  0.000139

[798 rows x 2 columns]

In [17]:
df.duplicated()

0       False
1       False
3       False
4       False
5       False
        ...
7991    False
7992    False
7993    False
7994    False
7995    False
Length: 7194, dtype: bool

In [18]:
sum(df.duplicated())

0

In [19]:
df = df.drop_duplicates()
sum(df.duplicated())

0